<div class="app" *mobxAutorun="{ dontDetach: true }">
  <div class="container">
    <div toggle="let checked">
      <switch></switch>
      <toggle-on>Toggle on</toggle-on>
      <toggle-off>Toggle off</toggle-off>
      <toggle-off>Toggle off 2</toggle-off>
      <other></other>
    </div>
    <music-table 
        tableKey="first-table"
        [tracks]="songs.tracks">
      <ng-template #thead let-columns="filteredColumns">
        <th *ngFor="let column of columns | mapper: columnNameMappings">
          {{column}}
        </th>
      </ng-template>
      <ng-template #tbody let-tracks="tracks" let-columns="filteredColumns">
        <tr *ngFor="let track of tracks">
          <td *ngFor="let column of columns | mapper: mapTrackValue(track)">
            <ng-container *ngComponentOutlet="column.component, content: [column.value]">
            </ng-container>
          </td>
        </tr>
      </ng-template>
    </music-table>
    <music-table 
        tableKey="second-table"
        [tracks]="songs.tracks">
      <ng-template #thead let-columns="filteredColumns">
        <th *ngFor="let column of columns | mapper: columnNameMappings">
          {{column}}
        </th>
      </ng-template>
      <ng-template #tbody let-tracks="tracks" let-columns="filteredColumns">
        <tr *ngFor="let track of tracks">
          <td *ngFor="let column of columns | mapper: mapTrackValue(track)">
            <ng-container *ngComponentOutlet="column.component, content: [column.value]">
            </ng-container>
          </td>
        </tr>
      </ng-template>
    </music-table>
  </div>
</div>