<div class="app">
  <div class="container-fluid"
       *rsResource="let musicSearch from 'music-search'">
    <div class="row">
      <div class="col-12">
        <search *rsResource="let musicSearchFields from 'music-search-fields'"
                [musicSearchFields]="musicSearchFields"
                [musicSearch]="musicSearch"></search>
      </div>
      <div class="col-4">

        <filters [fields]="musicSearch.fields" [facetes]="musicSearch.Facetes" ></filters>
      </div>
      <div class="col-8">
        <music-table *rsResource="let musicTable1 from 'music-table-1'"
                     [restrictedColumns]="musicTable1.restrictedColumns"
                     [tracks]="musicSearch.Tracks"
                     [pending]="musicSearch.pending"
                     [columns]="musicTable1.columns">
          <ng-container *tHead="let columns=columns">
            <th *ngFor="let column of columns | async">
              {{column}}
            </th>
          </ng-container>
          <ng-container *tBody="let columns=columns, let tracks=tracks">
            <tr *ngFor="let track of tracks | async">
              <td *ngFor="let column of columns | async">
                <music-td [column]="column"
                          [track]="track"></music-td>
              </td>
            </tr>
          </ng-container>
        </music-table>

        <music-table *rsResource="let musicTable2 from 'music-table-2'"
                     [restrictedColumns]="musicTable2.restrictedColumns"
                     [tracks]="musicSearch.Tracks"
                     [pending]="musicSearch.pending"
                     [columns]="musicTable2.columns">
          <ng-container *tHead="let columns=columns">
            <th *ngFor="let column of columns | async">
              {{column}}
            </th>
          </ng-container>
          <ng-container *tBody="let columns=columns, let tracks=tracks">
            <tr *ngFor="let track of tracks | async">
              <td *ngFor="let column of columns | async">
                <music-td [column]="column"
                          [track]="track"></music-td>
              </td>
            </tr>
          </ng-container>
        </music-table>
      </div>

      <logger *rsResource="let musicTable1 from 'music-table-1'"
              [target]="musicTable1"></logger>
    </div>
  </div>
</div>
